@model esercizio.Views.Payments.IndexModel
@{
    ViewData["Title"] = "Archivio Pagamenti";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Employee</th>
            <th scope="col">Intervallo</th>
            <th scope="col">Importo</th>
            <th scope="col">Tipo</th>

        </tr>
    </thead>
    <tbody>

        @foreach (Payment pay in ViewBag.payments)
        {
            <tr>
                <th scope="row">@pay.id</th>
                <td>@pay.reference.name @pay.reference.surname</td>
                <td>@pay.PaymentInterval[0] - @pay.PaymentInterval[1]</td>
                <td>@pay.amount</td>
                <td>@pay.type</td>
            </tr>

        }
    </tbody>
</table>