@{
    ViewData["Title"] = "Home Page";

}
<div class="text-center">
    <a class="btn btn-primary" asp-controller="Home" asp-action="Add">New Employee</a>

</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Cognome</th>
            <th scope="col">Indirizzo</th>
            <th scope="col">Codice Fiscale</th>
            <th scope="col">Sposato?</th>
            <th scope="col">Figli</th>
            <th scope="col">Mansione</th>
            <th scope="col">Pagah</th>


        </tr>
    </thead>
    <tbody>
        @foreach (Employee emp in ViewBag.employees)
        {

            <tr class="ClickableRow" onclick="location.href = '@(Url.Action("Details", "Home", new { id = emp.id }))'">
                <th>@emp.id</th>
                <td>@emp.name</td>
                <td>@emp.surname</td>
                <td>@emp.address</td>
                <td>@emp.cf</td>
                <td>@emp.married.ToString()</td>
                <td>@emp.children</td>
                <td>@emp.role.ToString()</td>
                <td><a class="btn btn-danger" href="Home/NewPayment/@emp.id">Pagah</a></td>
            </tr>
        }

    </tbody>
</table>

